.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  margin-left: 420px;
}

.topBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 200px;
  margin-left: 300px;
}

.characters {
  display: flex;
  gap: 20px;
}

.waldo {
  width: 40px;
  height: 90px;
}

.picMain {
  margin: 20px 0;
}

.main {
  height: 600px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin: 10px;
}

.scoreboard {
  margin-left: 450px;
}

table {
  border: 2px solid black;
  width: auto;
  height: 200px;
  padding: 5px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
  padding: 5px 20px;
  border-bottom: 1px dotted black;
}

.circle {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
}